@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Heebo", sans-serif;
}
body,
.navbar,
.cartPomo {
  transition: background-color 0.4s ease;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

.navbar {
  background-color: #af4949;
}

.nav {
  max-width: 675px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  border-bottom: 1px solid #9d4242;
  cursor: pointer;
}

.nav h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  font-family: "Heebo", sans-serif;
  margin-left: -4px;
  color: #fff;
}

.nav h1 img {
  width: 30px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
}

.flex .report {
  padding: 5px 20px;
  border: 1px solid #bd6a6a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 5px;
  background-color: #bd6a6a;
  color: #f7eded;
  font-size: 14px;
  font-weight: 300;
  font-family: "Heebo", sans-serif;
  transition: all 0.3s;
  cursor: pointer;
}

.flex .report:hover {
  color: #fff;
}

.flex .menu {
  padding: 1px 10px;
  border: 1px solid #bd6a6a;
  background-color: #bd6a6a;
  border-radius: 5px;
  font-size: 20px;
  color: #f7eded;
}

.cartPomo {
  max-width: 450px;
  width: 100%;
  height: 300px;
  background-color: #b75c5c;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px 40px;
  border-radius: 10px;
}

.pomaText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

.pomaText h4 {
  font-size: 14px;
  font-weight: 300;
  font-family: "Heebo", sans-serif;
  color: #f7eded;
  background-color: #bd6a6a;
  border: 1px solid #bd6a6a;
  padding: 3px 15px;
  border-radius: 5px;
}
.pomaText h4:focus {
  font-size: 16px;
  font-weight: 400;
}

.cartPomo h3 {
  text-align: center;
  font-size: 110px;
  margin-top: 20px;
  color: #fff;
  font-family: "Heebo", sans-serif;
}

.btnpoma {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnpoma button {
  width: 150px;
  height: 50px;
  padding: 10px 50px;
  font-size: 17px;
  font-weight: 600;
  font-family: "Heebo", sans-serif;
  border-radius: 5px;
  border: 1px solid #bd6a6a;
  color: #af4949;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}

.tasks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks h2 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Heebo", sans-serif;
  color: #c78080;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.tasks p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Heebo", sans-serif;
  color: #f7eded;
  text-align: center;
  margin-bottom: 20px;
}

.tasks .btnTasks {
  width: 455px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f7eded;
  padding-bottom: 15px;
  margin-top: 20px;
  margin-left: 20px;
}

.btnTasks h4 {
  font-size: 17px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f7eded;
}

.btnTasks i {
  padding: 5px;
  border: 1px solid #bd6a6a;
  background-color: #bd6a6a;
  border-radius: 5px;
  font-size: 20px;
  color: #f7eded;
  cursor: pointer;
}

.tasks_input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 20px;
  width: 455px;
  height: 50px;
  border: 1px dashed #f7eded;
  border-radius: 5px;
  background-color: #a14343;
  cursor: pointer;
}

.tasks_input span {
  width: 20px;
  height: 20px;
  border: 1px solid #dfbcbc;
  border-radius: 50%;
  background-color: #dfbcbc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9d4242;
  text-align: center;
}
.tasks_input h4 {
  font-size: 17px;
  font-weight: 500;
  font-family: "Heebo", sans-serif;
  color: #f7eded;
}

/* drop-menu */

.drop {
  position: relative;
  cursor: default;
}

.dawn {
  position: absolute;
  width: 400px;
  height: 400px;
  border: 1px solid;
  border-radius: 8px;
  background-color: #fff;
  display: none;
  top: 43px;
  left: -20px;
  cursor: default;
  padding: 10px 10px;
}
.dawn.show {
  display: block;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: end;
}

.closeBtn i {
  width: 30px;
  height: 30px;
  color: #8a8a8a;
  border: 1px solid #f7eded;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: -5px;
  margin-bottom: 10px;
}
.closeBtn i:hover {
  background-color: #dbd9d9;
  color: gray;
  cursor: pointer;
}

.btnFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: gray;
  margin-bottom: 20px;
}

.btnFlex h4 {
  border: 1px solid #8a8a8a;
  padding: 5px 20px;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
}
.btnFlex h4:hover {
  background-color: #b75c5c;
  border: 1px solid #b75c5c;
  color: #fff;
}

.flex h3 {
  color: #606060;
  margin-top: 10px;
  margin-left: 5px;
  font-family: "Heebo", sans-serif;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.flex h3 div {
  width: 210px;
  border: 1px solid #f0f0f0;
  height: 1px;
}

.flex p {
  font-size: 13px;
  font-weight: 400;
  font-family: "Heebo", sans-serif;
  color: #aaaaaa;
  margin-top: 7px;
}

.flex img {
  width: 380px;
  margin-top: 10px;
}

.flex h5 {
  color: #606060;
  margin-top: -100px;
  margin-left: 5px;
  font-family: "Heebo", sans-serif;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.flex h5 div {
  width: 250px;
  border: 1px solid #f0f0f0;
  height: 1px;
}

.weekBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.weekBtn button {
  padding: 3px 15px;
  border: 1px solid #8a8a8a;
  border-radius: 5px;
  color: #808080;
  background-color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}

.weekBtn button:hover {
  background-color: #b75c5c;
  color: #fff;
}

.report {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.dawnn {
  width: 300px;
  height: 220px;
  position: absolute;
  top: 43px;
  left: -145px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  display: none;
}

.dawnn.show {
  display: block;
}

.dawnn h4 {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  font-family: "Heebo", sans-serif;
  color: #606360;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dawnn h4 img {
  width: 30px;
  margin-top: -2px;
}

.hrFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.hrFlex .hr {
  border: 1px solid #e7e6e6;
  width: 120px;
  margin-top: 8px;
}
.hrFlex p {
  font-size: 17px;
  font-weight: 400;
  font-family: "Heebo", sans-serif;
  color: #808080;
}

.dawnn label {
  display: block;
  font-size: 15px;
  font-weight: 400;
  font-family: "Heebo", sans-serif;
  color: #808080;
  margin-top: 10px;
}

.dawnn input {
  width: 280px;
  padding: 12px 10px;
  border: 1px solid #c8c8c8;
  outline: none;
  border-radius: 8px;
  color: #606360;
  margin-bottom: 10px;
}

.dawnn button {
  width: 280px;
  padding: 12px 10px;
  border: 1px solid #c8c8c8;
  outline: none;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 10px;
  background-color: #45474b;
  cursor: pointer;
}

.menu {
  position: relative;
  cursor: pointer;
}

.dawnMenu {
  position: absolute;
  width: 120px;
  height: 110px;
  background-color: #fff;
  border-radius: 6px;
  top: 43px;
  left: -80px;
  padding-left: 10px;
  display: none;
}
.dawnMenu h5 {
  font-size: 16px;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;

  gap: 5px;
}

.dawnMenu.show {
  display: block;
}

.pomaText h4.active {
  background-color: #fff;
  color: #af4949;
  font-weight: 600;
  transform: scale(1.05);
}

.cartPomo {
  transition: background-color 0.4s ease;
}

.cartPomo {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}
