@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Heebo", sans-serif;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

.navbar {
  background-color: #af4949;
}

.nav {
  max-width: 675px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  border-bottom: 1px solid #9d4242;
  cursor: pointer;
}

.nav h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  font-family: "Heebo", sans-serif;
  margin-left: -4px;
  color: #fff;
}

.nav h1 img {
  width: 30px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
}

.flex .report {
  padding: 5px 20px;
  border: 1px solid #bd6a6a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 5px;
  background-color: #bd6a6a;
  color: #f7eded;
  font-size: 14px;
  font-weight: 300;
  font-family: "Heebo", sans-serif;
  transition: all 0.3s;
  cursor: pointer;
}

.flex .report:hover {
  color: #fff;
}

.flex .menu {
  padding: 1px 10px;
  border: 1px solid #bd6a6a;
  background-color: #bd6a6a;
  border-radius: 5px;
  font-size: 20px;
  color: #f7eded;
}

.cartPomo {
  max-width: 450px;
  width: 100%;
  height: 300px;
  background-color: #b75c5c;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px 40px;
  border-radius: 10px;
}

.pomaText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

.pomaText h4 {
  font-size: 14px;
  font-weight: 300;
  font-family: "Heebo", sans-serif;
  color: #f7eded;
  background-color: #bd6a6a;
  border: 1px solid #bd6a6a;
  padding: 3px 15px;
  border-radius: 5px;
}
.pomaText h4:focus {
  font-size: 16px;
  font-weight: 400;
}

.cartPomo h3 {
  text-align: center;
  font-size: 110px;
  margin-top: 20px;
  color: #fff;
  font-family: "Heebo", sans-serif;
}

.btnpoma {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnpoma button {
  width: 150px;
  height: 50px;
  padding: 10px 50px;
  font-size: 17px;
  font-weight: 600;
  font-family: "Heebo", sans-serif;
  border-radius: 5px;
  border: 1px solid #bd6a6a;
  color: #af4949;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}

.tasks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks h2 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Heebo", sans-serif;
  color: #c78080;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.tasks p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Heebo", sans-serif;
  color: #f7eded;
  text-align: center;
  margin-bottom: 20px;
}

.tasks .btnTasks {
  width: 455px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f7eded;
  padding-bottom: 15px;
  margin-top: 20px;
  margin-left: 20px;
}

.btnTasks h4 {
  font-size: 17px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f7eded;
}

.btnTasks i {
  padding: 5px;
  border: 1px solid #bd6a6a;
  background-color: #bd6a6a;
  border-radius: 5px;
  font-size: 20px;
  color: #f7eded;
}

.tasks_input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 20px;
  width: 455px;
  height: 50px;
  border: 1px dashed #f7eded;
  border-radius: 5px;
  background-color: #a14343;
  cursor: pointer;
}

.tasks_input span {
  width: 20px;
  height: 20px;
  border: 1px solid #dfbcbc;
  border-radius: 50%;
  background-color: #dfbcbc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9d4242;
  text-align: center;
}
.tasks_input h4 {
  font-size: 17px;
  font-weight: 500;
  font-family: "Heebo", sans-serif;
  color: #f7eded;
}
